{ "cfgRepositories": [ { "repoName": "commistory"
                       , "repoPath": "./"
                       , "repoFileFilterOutPrefix": [ "assets"
                                                    , "genweb/site_media"
                                                    ]
                       }
                     ]
, "cfgProjectName": "Commistory"
}
