{ "cfgRepositories": [ { "repoName": "commistory"
                       , "repoPath": "./"
                       , "repoFileFilterOutPrefix": []
                       }
                     ]
, "cfgProjectName": "Commistory"
}
